html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(214, 206, 206);
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

aside {
    min-width: 11%;
    background: rgb(214, 206, 206);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 26px;
}

section {
    flex-grow: 1;
    background: #f26925;
    border-top-left-radius: 26px;
}

header {
    height: 100px;
    background: rgb(214, 206, 206);
    display: flex;
    flex-direction: row;
}

header * {
    background: none;
}


div {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

footer {
    color: white;
    text-align: center;
    background: #484c55;
}

#logo {
    align-self: center;
    text-align: center;
}

#title {
    align-self: center;
    text-align: center;
    padding-right: 10%;
    font-size: 42px;
}

.links {
    z-index: 2;
    background: rgb(214, 206, 206);
    text-align: center;
    border-radius: 12px;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.links:any-link {
    text-decoration: none;
    color: black;
}

.active {
    z-index: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #f26925;
    box-shadow: 180px 10px 0px 0px #f26925,
                180px -10px 0px 0px #f26925;
}

.content {
    position: relative;
    border-radius: 26px;
    min-height: 80%;
    flex-grow: 1;
    z-index: 3;
    margin: 5%;
    background: rgb(214, 206, 206);
}

#bionav{
	list-style-type: none;
	margin: 10;
	padding: 5;
}

#bioli{
	float: left;
	display: block;
	padding: 10px;
	border-right-style:solid;
	border-width: 1px;
}

#biocontent{
	display: block;
	padding: 10px;
	float: left;
}
table{
	margin-right:30%;
	margin-left:0%;
}

