<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Text Sentiment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <aside id="logo">
            <img src="{{ url_for('static', filename='logo.png') }}">
        </aside>
        <section id="title">
            Text Sentiment and Severity Prediction
        </section>
    </header>
    <div id='main'>
        <aside>
            <nav>
                <a class="links"></a>
                <a href="{{ url_for('home') }}" class="{{ home }} links">Home</a>
                <a href="{{ url_for('predictor') }}" class="{{ predictor }} links">Predictor</a>
                <a class="links"></a>
            </nav>
        </aside>
        <section>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </section>
    </div>
    <footer>©2020 All rights reserved.</footer>
</body>
</html>